 #header-outer {
	background-color: rgba(3,137,171,100);
}

body {
	color: #676767;
}

 #header-outer img {
	width: 30%;
	margin-bottom: -6%;
}

.logo {
	text-align: center;
}

.menu a {
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 550;
}

.menu a:hover {
	color: white;
}

.menu li {
	padding-left: 20px;
}

.menu ul {
	padding-left: 138px;
}

.menu {
	margin-left: -45px;
	padding-bottom: 10px;
}

.dropbtn {
  background-color: rgba(3,137,171,100);
  color: white;
  padding: 9px;
  font-size: 17px;
  border: none;
  font-weight: 777;
  line-height: 22.4px;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
	text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(3,137,171,100);
  min-width: 160px;
  z-index: 1;
  padding-top: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 666;
}

.dropdown-content a:hover {
	background-color: #27CFC3;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgba(3,137,171,100);
	color: #1C1C1C;
}

.first-section {
	width: 100%;
	text-align: center;
}

.first-section .title-content h3{
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 8px;
    -webkit-font-smoothing: antialiased;
}

.title {
	padding-top: 30px;
	padding-bottom: 7px;
}

.title em {
	font-family: Libre Baskerville;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
}

.wrapper {
	color: #fff;
	text-align: center;
	padding-top: 33px;
}

.tilt-button-wrap {
	perspective: 800px;
    display: inline-block;
}

.tilt-button-inner {
	overflow: hidden;
    padding: 3px 0px;
    display: inline;
}

.nectar-button.has-icon, .nectar-button.tilt.has-icon {
    padding-left: 42px;
    padding-right: 42px;
}

.ascend .nectar-button {
    border-radius: 0!important;
    box-shadow: none!important;
}

.nectar-button.tilt {
	display: block;
	transform-style: preserve-3d;
	outline: none;
	position: relative;
	border-bottom: none!important;
	opacity: 1!important;
	transition: all 0.55s cubic-bezier(0.68, 0, 0.265, 1);
}

.nectar-button.large {
    font-size: 10px;
    padding: 15px 22px;
}

.nectar-button {
	font-family: Lovelo,sans-serif;
	letter-spacing: 2px;
	font-weight: normal;
}

.tilt-button-wrap a.instance-0 {
    background-color: #062f44;
}

.tilt-button-inner a {
	color: #fff;
}

.wpb_wrapper h2 {
	font-family: Lovelo,sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    vertical-align: baseline;
    font-style: inherit;
}

.tilt-button-inner a {
	margin-top: 20px;
}

.wpb_wrapper h5 {
	font-family: Merriweather;
    letter-spacing: .5px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 20px;
}

.using-bg {
	background-color: #e5f1f5;
}

.shwip {
	text-align: center;
}

.content_wpb {
	padding-top: 20px;
	padding-bottom: 40px;
}

.content_wpb h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	font-family: Lovelo,sans-serif;
}

.header-title {
	background-color: #1C1C1C;
	position: absolute;
}

.wrapper_min h3 {
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 743;
    padding-bottom: 15px;
    margin-bottom: 8px;
}

.sell_price {
	padding-bottom: 15px;
}

.dicider {
	background-color:  #ed0047!important;
	margin: 25px auto;
}

.column_text {
	padding-top: 10px;
}

.column_text h3 {
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 777;
    margin-bottom: 13px;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

.column_text p {
	padding-bottom: 15px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.column_text strong {

}

.column_text p:last-child {
	margin-bottom: 0px;
}

.instance {
	background-color: #017e93;
}

.instence_img {	
	text-align: center;
}

.instence_img img {
	width: 216px;
	height: 200px;
	padding: 20px auto;
	margin: 25px auto;
}

.instence_pos {
	color: #fff;
	display: block;
	z-index: 10;
	float: left;
	font-size: 17px;
	margin-top: 20px;
}

.instence_pos a {
	color: #ed0047;
}

.instence_pos a:hover {
	color: #fff;
}

.footer_outer {
	background-color: #0389ad!important;
	color: #052a3c!important;
}

.footer_in {
	padding-top: 30px;
	padding-bottom: 20px;
}

.footer_in h4 {
	margin-bottom: 12px;
	color: #fff;
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
}

.footer_in a {
	color: #052a3c!important;
}

.input_sup input {
	padding: 10px;
	width: 90%;
	border: 0px;
	border-bottom: 1px solid #fff;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	color: #555;
	background-color: #efefef;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
	-webkit-transition: all 0.2s linear;
}

.input_up input {
	background-color: #ed0047!important;
	color: #fff;
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 11px;
    border: none;
    width: auto;
    -webkit-border-radius: 2px;
    font-weight: 666;
}

.copyright {
	background-color: #052a3c!important;
}

.job_inner {
	font-size: 12px;
	color:#1ddcf9;
	padding-top: 20px;
	padding-bottom: 10px;
}

.job_inner a {
	color:#1ddcf9;
}

.job_inner a:hover {
	color:#1ddcf9;
}

.job_icons ul {
	display: flex;
	float: right;
}

.job_icons li {
	display: block;
	margin-left: 30px;
}

.job_icons li a {
	color: #1ddcf9;
	font-size: 20px;
}

.job_icons {
	margin-top: 17px;
}

.top {
	margin: 0;
	position: relative;
	width: 100%;
	background-color: rgb(255, 132, 5);
	height: 140px;
	opacity: 1;
	text-align: center;
	font-family: 'helvetica';
	font-size: 80px;
	font-weight: 100;
	color: #fff;
}

.title {
	position: absolute;
  	left: 575px;
  	top: -27px;
  	font-weight: 666;
  	text-transform: uppercase;
}

body em {
	font-family: Libre Baskerville;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #676767;
}

.title_sea {
	position: absolute;
	left: 400px;
	font-weight: 666;
	text-transform: uppercase;
	font-size: 58px;
	top: 22px;
}

.title_red {
	background-color: #ed0047;
	color: #fff;
	text-align: center;
}

.title_red h3 {
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 666;
}

.sea_img {
	padding-top: 20px;
	padding-bottom: 30px;
}

.sea_tag {
	color: #676767;
	padding-bottom: 20px;
}

.sea_price {
	background-color: rgba(3,137,171,0.12); 
	padding-bottom: 10px;
	padding-top: 30px;
}

.sea_price p {
	color: #676767;
}

.sea_price h3 {
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 666;
    margin-bottom: 8px;
}

.sea_time {
	padding-top: 20px;
	color: #676767;
	padding-bottom: 60px;
}

.sea_time a{
	color: #ed0047;
}

.sea_time a:hover {
	color: #676767;
}

.sea_time h3 {
	color: #444;
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 666;
    margin-bottom: 8px;
}

.sea_time p {
	color: #676767;
	padding-bottom: 10px;
}

.forms_name {
	margin-bottom: 20px;
	clear: both;
}

.frm_label {
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 16px;
    color: #444444;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0 0 3px 0;
    width: auto;
    display: block;float: none;
    max-width: 100%;
}

.frm_requied {
	color: #ed0047!important;
}

.forms_name input {
	height: 32px;
    line-height: 1.3;
    color: #555555;
    max-width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    background-color: transparent!important;
    border: 1px solid #ccc!important;
    -webkit-box-shadow: none!important;
    font-size: 16px!important;
    border-radius: 5px;
}

.frm_radio {
	display: block;
	margin-bottom: 0px;
	margin-top: 0px;
}

.frm_radio label{
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 16px;
    color: #444444;
    font-weight: normal;
    display: inline;
    white-space: normal;
}

.frm_radio input {
	display: inline-block;
    width: auto;
    border: none;
    vertical-align: baseline;
    border-radius: 10px;
    margin-right: 5px;
}

.frm_submit {
	clear: both;
}

.frm_submit input{
	background-color: #ed0047!important;
	padding: 15px 22px!important;
	width: auto;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 16px;
    height: auto;
    line-height: normal;
    text-align: center;
    background: #ffffff;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    color: #444444;
    cursor: pointer;
    font-weight: normal;
    text-shadow: none;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #eeeeee;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    border-radius: 0!important;
    letter-spacing: 2px;
    border: none;
    -webkit-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}

/* PD DAY CAMP */

.title_PD {
	padding-top: 40px;
	font-size: 60px;
	line-height: 62px;
	font-weight: 777;
}

.DP_price {
	background-color: rgba(3,137,171,0.12); 
	padding-bottom: 10px;
	padding-top: 30px;
	color: #676767;
}

.col_DP h3 {
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 666;
    margin-bottom: 8px;
    color: #444;
}

.col_DP a {
	background-color: #ed0047!important;
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 10px 15px;
    color: #FFFFFF;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    margin-bottom: 10px;
    opacity: 1;
    line-height: 20px;
    display: inline-block;
}

.col_DP a:hover {
	color: #fff;
}

.DP_contact {
	padding-top: 40px;
}

.contact_item a {
	color: #ed0047;
}

.contact_item a:hover {
	color: #676767;
}

.contact_item strong {
	color: #676767;
}

.contact_item h3 {
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 777;
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* summer day camp */

.summer_hold h2 {
	font-family: Lovelo,sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 777;
    color: #444;
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

.summer_hold {
	padding-top: 25px;
	color: #676767;
}

.summer_hold a:hover {
	color: #676767;
}

.summer_hold a {
	color: #ed0047;
}

.smr_information h3 {
	font-family: Lovelo,sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 666;
    margin-bottom: 8px;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

.smr_information {
	padding-top: 40px;
	color: #676767;
}

.smr_information strong {
	font-family: 'Open Sans';
    font-weight: 600;
}